html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    background: #6a44b1
}

#container {
    width: 50%;
    background-color: #fff;
}

figure {
    display: flex;
    justify-content: center;
    margin: 70px 0;
    height: 8vh;
}

p {
    color: #290235;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#submit-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 8vh;
}

button {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #7CFC00;
    color: #000;
    font: bold 15px Arial, sans-serif;
    text-transform: uppercase;
    padding: 15px 80px;
    border: none;
}

button:hover {
    background-color: #78cf1b;
}

footer {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10px;

}

footer span {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1.4rem;
        margin-left: 20px;
    }

    button {
        font-size: 12px;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    button {
        font-size: 10px;
    }

    footer {
        font-size: .7rem;
    }
}